
.cropper-move{
    z-index: 9;
}
.frame-container{
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
}
.frame-container.frame-type-zebra{
    z-index: 0;
}

.frame-container.frame-type-zebra > .frame-1{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px double #fff;
    z-index: 0;
    margin: 0;
}

.frame-container.frame-type-zebra > .frame-2{
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 0;
    top: 0;
    border: 1px double #fff;
    z-index: 0;
    margin: 5px;
}

.frame-container.frame-type-hook{

}

.frame-container.frame-type-hook > *{
    position: absolute;
    background: #fff;
}
.frame-container.frame-type-hook > *::after{
    position: absolute;
    background: #fff;
    z-index: 10;
    content: "";
    height: 10px;
    width: 1px;
}

.frame-container.frame-type-hook > .frame-1{
    left: 0px;
    top: 0px;
    width: 10px;
    height: 1px;
}
.frame-container.frame-type-hook > .frame-1::after{
    top: 0;
    left: 0;
}

.frame-container.frame-type-hook > .frame-2{
    right: 0px;
    top: 0px;
    width: 10px;
    height: 1px;
}
.frame-container.frame-type-hook > .frame-2::after{
    top: 0;
    right: 0;
}
.frame-container.frame-type-hook > .frame-3{
    right: 0;
    bottom: 0;
    width: 10px;
    height: 1px;
}

.frame-container.frame-type-hook > .frame-3::after{
    bottom: 0;
    right: 0;
}

.frame-container.frame-type-hook > .frame-4{
    left: 0;
    bottom: 0;
    width: 10px;
    height: 1px;
}

.frame-container.frame-type-hook > .frame-4::after{
    bottom: 0;
    left: 0;
}


.frame-container.frame-type-lumber{
    border: none;
    z-index: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.frame-container.frame-type-lumber > *{
    position: absolute;
    background: white;
}

.frame-container.frame-type-lumber > .frame-1{
    width: 1px;
    height: 100%;
    top: 0;
    left: 5px;
}


.frame-container.frame-type-lumber > .frame-2{
    width: 100%;
    height: 1px;
    top: 5px;
    left: 0;
}


.frame-container.frame-type-lumber > .frame-3{
    width: 1px;
    height: 100%;
    top: 0;
    right: 5px;
}

.frame-container.frame-type-lumber > .frame-4{
    width: 100%;
    height: 1px;
    bottom: 5px;
    left: 0;
}
