
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
  width: 15rem;
  z-index: 9;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}
body.sb-sidenav-toggled #wrapper #sidebar-container {
  /*display: none;*/
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

@media (max-width: 768px) {
  #sidebar-wrapper{
    position: fixed;
    width: 12rem;
  }
}


.viewport {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-tile {
  /*display: flex;*/
  margin: 10px;
  vertical-align: middle;
  width: 200px;
  /* height: 200px;*/
  box-shadow: 0px 0px 4px 1px #ccc;

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}

.image-tile .btn-toolbar {
  background: white;
}

.image-tile-wrapper {
  display: flex;
  width: 200px;
  height: 200px;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /*transition: width .1s, height .1s;*/
  background: white;
  margin: auto;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain
}

.image-container .spinner-grow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.cropper-move {
  opacity: 1;
  background: none;
  border: 0 solid #fff;
}

.cropper-bg {
  background: none !important;
}

.cropper-modal {
  opacity: 0;
}

.preview {
  height: 150px;
}

.option-dropdown-title {
  max-width: 139px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.warning-tooltip.tooltip > .tooltip-inner {
  background-color: #a44213;
}

.warning-tooltip.tooltip > .tooltip-arrow::before {
  border-right-color: #a44213;
}

.quality-warning-icon{
  overflow: visible;
  color: rgb(234, 128, 1);
  position: absolute;
  top: 8px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 9;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.accordion-item{
  position: relative;
}
.accordion-item .accordion-collapse{
  position: absolute;
  top: 35px;
  width: 100%;
  z-index: 9;
}
.color-picker{
  position: absolute;
  z-index: 10;
}
.pickr .pcr-button{
  border: 1px solid #d5d5d5;
}
